<!DOCTYPE html>
<html>
<head></head> 
<body>
<div></div>
<div class="container">
	<div class="pg-opt">
        <div class="row">
            <div class="col-md-6 pc">
                <h2>INSERT USER INFO</h2>
                <span>message</span>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li>MEMBER</li>
                    <li class="active">INSERT USER INFO</li>
                </ol>
            </div>
        </div>
    </div>
	<div class="content">
	<form action="/member/insert" method="post" id="joinForm" class="form-horizontal">
	<div class="form-group">
      <label class="control-label col-sm-2" for="userid">MEMBER ID</label>
      <div class="col-sm-4">
        <input type="text" name="userid" id="userid" class="form-control" placeholder="MEMBER_ID" required>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="password">MEMBER PASSWORD</label>
      <div class="col-sm-4">
        <input type="password" name="password" id="password" class="form-control" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{6,}" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password2">MEMBER PASSWORD RE</label>
      <div class="col-sm-4">
        <input type="password" name="password2" id="password2" class="form-control" required>
        <span id="passwordConfirm"></span>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="name">MEMBER NAME</label>
      <div class="col-sm-4">
        <input type="text" name="name" id="name" class="form-control" required>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="phone">MEMBER PHONE</label>
      <div class="col-sm-6">
        <input type="text" name="phone" id="phone" class="form-control" required>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="email">MEMBER EMAIL</label>
      <div class="col-sm-8">
        <input type="email" name="email" id="email" class="form-control" required>
      </div>
    </div>
    <div class="form-group">
    	<div class="col-sm-offset-2 col-sm-8">
		<input type="submit" class="btn btn-info" value="SAVE">
		<input type="reset" class="btn btn-info" value="CANCEL">
		</div>
	</div>
	</form>
	</div>
</div>
<footer></footer> 
</body>
<script type="text/javascript">
var pw1 = document.querySelector("#password");
var pw2 = document.querySelector("#password2");
var pwConfirm = document.querySelector("#passwordConfirm");
pw2.onkeyup = function(event) {
	if(pw1.value !== pw2.value) {
		pwConfirm.innerText = "비밀번호가 일치하지 않습니다.";
	}else {
		pwConfirm.innerText = "";
	}
}
</script>
</html>