<!DOCTYPE html>
<html>
<head></head> 
<body>
<div></div>
<div class="container">
	<div class="pg-opt">
	    <div class="row">
	        <div class="col-md-6 pc">
	            <h2><span>BOARD LIST</span> 
	            <small style="color:red;"></small>
	            </h2>
	        </div>
	        <div class="col-md-6">
	            <ol class="breadcrumb">
	                <li>BOARD</li>
	                <li class="active">BOARD LIST</li>
	            </ol>
	        </div>
	    </div>
    </div>
	<span>message</span>
	<div class="content">
		<form action="/board/search/1" method="get">
			<div class="pull-right" style="margin-bottom: 5px;">
			<div class="col-xs-9">
		        <input type="text" name="keyword" class="form-control">
		    </div>
		        <input type="submit" class="btn btn-warning">
			</div>
		</form>
	    <table class="table table-hover table-bordered">
		<thead>
		<tr>
			<td>BOARD ID</td>
			<td class="pc">WRITER</td>
			<td>SUBJECT</td>
			<td class="pc">WRITE DATE</td>
			<td class="pc">READ COUNT</td>
		</tr>
		</thead>
		<tr>
			<td>ID</td>
			<td class="pc">작성자</td>
			<td>
			<span>
				<span>&nbsp;</span>
				<span>└</span>
			</span>
			<a href="/board/">제목</a>
			</td>
			<td class="pc">YYYY-MM-dd</td>
			<td class="pc">0</td>
		</tr>
		</table>
		<table class="table">
		<tr>
			<td align="left">
				<div></div> 
			</td>
			<td align="right">
				<a href="board/write/1"><button type="button" class="btn btn-info">WRITE NEW ARTICLE</button></a>
			</td>
		</tr>
		</table>
	</div>
</div>
<footer></footer> 
</body>
</html>