<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/include/header :: header}"></head> 
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div class="container">
	<div class="pg-opt">
        <div class="row">
            <div class="col-md-6 pc">
                <h2 th:text="#{UPDATE_ARTICLE}">UPDATE ARTICLE</h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li th:text="#{BOARD}">BOARD</li>
                    <li class="active" th:text="#{UPDATE_ARTICLE}">UPDATE ARTICLE</li>
                </ol>
            </div>
        </div>
    </div>
	<div class="content">
	<form th:object="${board}" th:action="@{/board/update}" method="post" enctype="multipart/form-data" class="form-horizontal">
	<div class="form-group">
      <label class="control-label col-sm-2" for="categoryId" th:text="#{CATEGORY}">CATEGORY</label>
      <div class="col-sm-4">
        <select name="categoryId" id="categoryId" class="form-control" required>
        	<th:block th:each="category : ${categoryList}">
        	<option th:value="${category.categoryId}" th:text="${category.categoryName}" th:selected="${category.categoryId eq categoryId}"></option>
        	</th:block>
        </select>
      </div>
    </div>
	<div class="form-group">
      <label class="control-label col-sm-2" for="writer" th:text="#{WRITER}">WRITER</label>
      <div class="col-sm-2">
        <input type="text" name="writer" id="writer" class="form-control" th:value="*{writer}" readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="email" th:text="#{EMAIL}">EMAIL</label>
      <div class="col-sm-4">
        <input type="text" name="email" id="email" class="form-control" th:value="${board.email}" autocomplete="off" required readonly>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="password" th:text="#{PASSWORD}">PASSWORD</label>
      <div class="col-sm-2">
        <input type="password" name="password" id="password" class="form-control" required>
      </div><span th:if="${passwordError != null}" th:text="${passwordError}"></span>      
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="title" th:text="#{TITLE}">TITLE</label>
      <div class="col-sm-8">
        <input type="text" name="title" id="title" class="form-control" th:value="${board.title}" required>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label col-sm-2" for="content" th:text="#{CONTENT}">CONTENT</label>
      <div class="col-sm-8">
        <textarea name="content" id="content" rows="15" cols="100" class="form-control" th:text="${board.content}"></textarea>
      </div>
    </div>
    <!-- th:block th:if="${userid!=null}"-->
    <div class="form-group">
      <label class="control-label col-sm-2" for="file" th:text="#{FILE}">FILE</label>
      <div class="col-sm-8">
      	<input type="hidden" name="fileId" th:value="${board.fileId}">
        <input type="file" id="file" name="file">[[${board.fileName}]]
      </div>
    </div>
    <!-- /th:block-->
    <div class="form-group">
    	<div class="col-sm-offset-2 col-sm-8">
			<input type="hidden" name="boardId" th:value="${board.boardId}">
			<input type="hidden" name="masterId" th:value="${board.masterId}">
			<input type="hidden" name="replyNumber" th:value="${board.replyNumber}">
			<input type="hidden" name="replyStep" th:value="${board.replyStep}">
			<input type="submit" class="btn btn-info" th:value="#{UPDATE}">
			<input type="reset" class="btn btn-info" th:value="#{CANCEL}" onclick="history.back()">
		</div>
	</div>
	</form>
	</div>
</div>
<footer th:replace="~{/include/footer :: footer}"></footer> 
</body>
</html>