<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="~{/include/header :: header}"></head> 
<body>
<div th:replace="~{/include/body-header :: bodyHeader}"></div>
<div class="container">
    <div class="pg-opt">
        <div class="row">
            <div class="col-md-6 pc">
                <h2 th:text="#{CONTENT}">CONTENT</h2>
            </div>
            <div class="col-md-6">
                <ol class="breadcrumb">
                    <li th:text="#{BOARD}">BOARD</li>
                    <li class="active" th:text="#{CONTENT}">CONTENT</li>
                </ol>
            </div>
        </div>
    </div>
	<div class="content">
	<table class="table table-bordered">
	<tr class="pc">
		<td colspan=2 align="right">
		<a th:href="@{/board/cat/__${categoryId}__/__${page}__}"><button type="button" class="btn btn-info" th:text="#{BOARD_LIST}">BOARD LIST</button></a>
		<a th:href="@{/board/write/__${categoryId}__}"><button type="button" class="btn btn-info" th:text="#{WRITE_NEW_ARTICLE}">WRITE NEW ARTICLE</button></a>
		<a th:href="@{/board/reply/__${board.boardId}__}"><button type="button" class="btn btn-info" th:text="#{REPLY}">REPLY</button></a>
		<a th:href="@{/board/update/__${board.boardId}__}"><button type="button" class="btn btn-info" th:text="#{UPDATE}">UPDATE</button></a>
		<a th:href="@{/board/delete/__${board.boardId}__}"><button type="button" class="btn btn-info" th:text="#{DELETE}">DELETE</button></a>
		</td>
	</tr>
	<tr>
		<td width="20%" th:text="#{BOARD_ID}">BOARD ID</td>
		<td th:text="${board.boardId}">ID</td>
	</tr>
	<tr>
		<td width="20%" th:text="#{WRITER}">WRITER</td>
		<td th:text="${board.writer}">작성자</td>
	</tr>
	<tr>
		<td width="20%" th:text="#{WRITE_DATE}">WRITE DATE</td>
		<td th:text="${#dates.format(board.writeDate, 'YYYY-MM-dd')}">YYYY-MM-DD</td>
	</tr>
	<tr>
		<td th:text="#{SUBJECT}">SUBJECT</td>
		<td th:text="${board.title}">제목</td>
	</tr>
	<tr>
		<td th:text="#{CONTENT}">CONTENT</td>
		<td class="board_content" th:utext="${board.content}">내용</td>
	</tr>
	<tr th:if="${board.fileName!=null}">
		<td th:text="#{FILE}">FILE</td>
		<td>
			<th:block sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_USER')">
			<img th:src="@{/file/{id}(id=${board.fileId})}"
			 th:if="${fileType=='.JPG' ||  fileType=='.JPEG' || fileType=='.PNG' || fileType=='.GIF'}" class="img-thumbnail">
			<span th:text="${board.fileName}">파일명</span>
			<span th:text="|(${#numbers.formatDecimal(board.fileSize/1024.0,1,'COMMA',2,'POINT')}KB)|">0KB</span>
			</th:block>
			<div sec:authorize="hasRole('ROLE_ADMIN')">
				<a th:href="@{/file/{fileId}(fileId=${board.fileId})}">다운로드</a>
			</div>
		</td>
	</tr>
	<tr>
		<td colspan=2 align="right">
		<a th:href="@{/board/cat/__${categoryId}__/__${page}__}"><button type="button" class="btn btn-info" th:text="#{BOARD_LIST}">BOARD LIST</button></a>
		<a th:href="@{/board/write/__${categoryId}__}"><button type="button" class="btn btn-info" th:text="#{WRITE_NEW_ARTICLE}">WRITE NEW ARTICLE</button></a>
		<a th:href="@{/board/reply/__${board.boardId}__}"><button type="button" class="btn btn-info" th:text="#{REPLY}">REPLY</button></a>
		<a th:href="@{/board/update/__${board.boardId}__}"><button type="button" class="btn btn-info" th:text="#{UPDATE}">UPDATE</button></a>
		<a th:href="@{/board/delete/__${board.boardId}__}"><button type="button" class="btn btn-info" th:text="#{DELETE}">DELETE</button></a>
		</td>
	</tr>
	</table>
</div>
</div>
<footer th:replace="~{/include/footer :: footer}"></footer> 
</body>
</html>