<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<!-- <!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd"> -->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="com.coderby.myapp">
		<level value="info" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
	<!-- log4jdbc level -->
	<logger name="jdbc.audit">
		<level value="warn"/> <!-- JDBC 문제해결을 위한 경우를 제외하고는 사용을 권장 안함 -->
	</logger>
	<logger name="jdbc.resultset">
		<level value="warn"/> <!-- ResultSet을 포함한 모든 JDBC 호출 정보를 출력 -->
	</logger>
	<logger name="jdbc.resultsettable">
		<level value="info"/> <!-- SQL 실행 결과를 데이터 Table형식으로 출력 -->
	</logger>
	<logger name="jdbc.sqlonly">
		<level value="info"/> <!-- SQL 구문만 출력 -->
	</logger>
	<logger name="jdbc.sqltiming">
		<level value="info"/> <!-- SQL 실행시간 출력 -->
	</logger>
	<logger name="jdbc.connection">
		<level value="warn"/> <!-- 커넥션 연결 및 종료 정보 출력 -->
	</logger>
</log4j:configuration>
